*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat' , sans-serif;
}

h1{
    font-size: calc(var(--font-size-default) + 50%);
    color: #fff;
}


h3{
    line-height: calc(var(--font-size-default) - 2px);
    font-size: calc(var(--font-size-default) - 2px);
    color: #fff;
}

h6{
    color: #5d5d5d;
}
a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
}
ul li{
    list-style: none;
}

button{
    border: none;
    background: none;
}

.container-app{
    overflow: hidden;
    height: 100vh;
}

.middle-container{
    /* padding-top: 5rem; */
    background-color:#141922;
    overflow: auto;
}


.menu-middle{
    text-align: center;
}

.menu-middle div a{
    font-size: calc(var(--font-size-default) - 2px);
    font-weight: 900;
    color: #5d5d5d;
}

.menu-middle div:hover a{
    color: #ffff;
}

.img-card{
    aspect-ratio: 1/1;
    position: relative;
    flex-shrink: 0;
    
}

.img-card img{
    display: block;
    width: 100%;
}


.play-hover{
    opacity: 0;
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}

.play-hover svg{
    color: #ffff;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.play-hover:hover{
    opacity: 1;
}


.title-subtitle-container{
    flex-shrink: 0;
}
.title-subtitle-container h3, .title-subtitle-container h6{
    text-align: center;

}

.upgrade{
    z-index: 999;
    padding: 1.5rem  2rem;
    display: flex;
    justify-content: end;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: -5rem;
    left: 0;
    right: 0;
}

.upgrade a{
    padding:var(--space);
    border: 1px solid #5d5d5d;
    border-radius: 25px;
}

.upgrade a:hover{
    transform:scale(1.1)
}
/********************************
/////////// NAV-BAR-LEFT/////////
********************************/
ul li div{
    display: inline-block;
    vertical-align: middle;
}

.contain-logo{
    z-index: 999;
    width: 70%;
}

.row div a{
    font-weight: 700;
    color: #5d5d5d;
    vertical-align: baseline;
}

.nav-bar .svg-cont{
    color: #5d5d5d;
    width:30px;
}

.nav-bar{
    width: 250px;
}

.nav-bar div .row:active{
    border-left: 2px solid #ADFF2F;

}

.bt-playlist{
    display: flex;
    text-align: left;
    width: 100%;

}
.bt-playlist{
    font-size: var(--font-size-default);
    font-weight: 700;
}
.bt-playlist .svg-cont{
    width: 50px
}

.bt-playlist div{
    color: #5d5d5d;
    align-self: center;
    
}

.bt-playlist:hover div, .bt-playlist:hover svg{
    color: #ffff;
}

.list-playlist{

    height: 100%;

}

.nav-bar div .row:hover a, .nav-bar div .row:hover svg{
    color: #ffff;
}

.nav-bar div  ul li:hover{
    color: #ffff;
}


.list-playlist li{
    padding-bottom: 1rem;
    font-size: 0.8rem;
    font-weight:700;
    color: #5d5d5d;

}

.user-container .svg-cont{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #5d5d5d;
    overflow: hidden
}



.user-container{
    padding-top: 0.5rem;
    border-top: 1px solid white;

}

.user-container div a{
    color: #ffff;
}


/********************************
///////////COMAND-BAR////////////
********************************/
.comand-bar{
    max-width: 100%;
    justify-content: space-between;
    color: #ffff;
}

.img-song-play{
    max-width: 50px;
}
.img-song-play img{
    width: 100%;
}
.svg-cont-icon{
    align-items: center;
    color: #5d5d5d;
    gap: var(--gap);
}

.svg-cont-icon div:hover {
    color: #ffff;
}

.svg-cont-icon svg{
    width: 1rem;
}

.middle-cont{
    width: 30%;
    min-width: 250px;
}

.contain-button-comand-bar{
    gap: calc(var(--gap)/2);
    overflow: hidden;
    justify-content: center;
}

.contain-button-comand-bar svg{
    width: 1rem;
}

.contain-button-comand-bar>:nth-child(3){
    width: 2rem;
    margin: calc(var(--space)/2);
}

.progress-bar-cont{
    padding-top: 5px;
}

.progress-bar-body{
    height: 50%;
    background-color: #5d5d5d;
    border-radius: 20px;
}

.progress-bar{
    justify-content: end;
    height: 100%;
    background-color: #C1C1C1;
    width: 30%;
    border-radius: 20px;
}

.progress-bar-cont:hover .progress-bar, .container-vol-bar:hover .vol-bar{
    background-color: #ADFF2F;
    transition: 0.5s;
}

.progress-bar-cont:hover .circle-prog-bar, .container-vol-bar:hover .circle-prog-bar{
    display: block;
}

.circle-prog-bar{
    display: none;
    transform: translate(50% , -20%);
    position: relative;
    background-color: #c1c1c1;
    border-radius: 50%;
    height: 150%;
    aspect-ratio: 1/1;

}

.left-cont{
    min-width: 100px
}

.right-cont{
    min-width: 150px;
}

.container-vol-bar{
    padding: calc(var(--space)/2);
    min-width: 40%;
}

.vol-bar-body{
    width: 100%;
    height: 5px;
    background-color: #5d5d5d;
    border-radius: 20px;
}

.vol-bar{
    justify-content: end;
    height: 100%;
    background-color: #ffff;
    width: 30%;
    border-radius: 20px;
}



/********************************
/////////// VARIABLE ////////////
********************************/
:root{
    --font-size-default: 1rem;
    --gap: 1rem;
    --space: 1rem;
}
/********************************
//////// LAYOUT CLASS ///////////
********************************/
.row{
    border-left: 2px solid transparent;
    flex-grow: 0;
    max-width: 100%;
    display: flex;
    gap: calc(var(--gap)/2);
}

.half-row{
    max-height: 50%;
}

.col{
    flex-basis: 0;
}

.col-6{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc((100% / 6) - 1rem);
    aspect-ratio: 1/1;
}



/********************************
//////// UTILITY CLASS //////////
********************************/


.display-flex{
    display: flex;
}

.display-flex-column{
    display: flex;
    flex-direction: column;
}

.flex-grow{
    flex-grow: 1;
}

.flex-shrink{
    flex-shrink: 0;
}

.default-padding{
    padding: var(--space);
}

.default-padding-top-bot{
    padding-top: var(--space);
    padding-bottom: var(--space);
}

.default-padding-left-right{
    padding-left: var(--space);
    padding-right: var(--space);
}

.half-default-padding{
    padding: calc(var(--space) / 2 );
}

.half-default-padding-left-right{
    padding-left: calc(var(--space)/2);
    padding-right: calc(var(--space)/2)
}

.double-padding-top{
    padding-top: calc(var(--space) *2);

}

.display-inline-block{
    display: inline-block;
}

.text-color-white{
    color: #ffff;
}

.align-items-center{
    align-items: center;
}

.over-flow-auto{
    overflow: auto;
}

.over-flow-hidden{
    overflow: hidden;
}

.default-d-none{
    display: none;
}

/* .z-index-2{
    z-index: 2;
} */

.border-radius-circle{
    overflow: hidden;
    border-radius: 50%;
}








































/*********************************
//////// SOLO PER DEBUG //////////
*********************************/
/* .container-app{
    width: 1100px;
} */
.nav-bar{
    background-color: black;
}



/* .default-padding{
    background-color: antiquewhite;
} */
.comand-bar{
    background-color: #282828;
}











