*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat' , sans-serif;
}

h1{
    font-size: calc(var(--font-size-default) + 50%);
    color: #fff;
}


h3{
    line-height: calc(var(--font-size-default) - 2px);
    font-size: calc(var(--font-size-default) - 2px);
    color: #fff;
}

h6{
    color: #5d5d5d;
}
a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
}
ul li{
    list-style: none;
}

button{
    border: none;
    background: none;
}

.container-app{
    overflow: hidden;
    height: 100vh;
}


.menu-middle{
    text-align: center;
}

.menu-middle div a{
    font-size: calc(var(--font-size-default) - 2px);
    font-weight: 900;
    color: #5d5d5d;
}

.img-card{
    flex-shrink: 0;
    aspect-ratio: 1/1;
}
.img-card img{
    width: 100%;
}

.title-subtitle-container{
    flex-shrink: 0;
}
.title-subtitle-container h3, .title-subtitle-container h6{
    text-align: center;

}

/********************************
/////////// NAV-BAR-LEFT/////////
********************************/
ul li div{
    display: inline-block;
    vertical-align: middle;
}

.contain-logo{
    width: 70%;
}

.row div a{
    font-weight: 700;
    color: #5d5d5d;
    vertical-align: baseline;
}

.nav-bar .svg-cont{
    width:30px;
}

.nav-bar{
    min-width: 250px;
}

.bt-playlist{
    display: flex;
    text-align: left;
    width: 100%;

}
.bt-playlist{
    font-size: var(--font-size-default);
    font-weight: 700;
}
.bt-playlist .svg-cont{
    width: 50px
}

.bt-playlist div{
    color: #5d5d5d;
    align-self: center;
    
}



.list-playlist ul li{
    padding-bottom: 1rem;
    font-size: 0.8rem;
    font-weight:700;
    color: #5d5d5d;

}





/********************************
///////////COMAND-BAR////////////
********************************/
.comand-bar{
    justify-content: space-between;
    color: #ffff;
}

.img-song-play{
    max-width: 50px;
}
.img-song-play img{
    width: 100%;
}
.svg-cont-icon{
    gap: var(--gap);
}

.svg-cont-icon svg{
    width: 1rem;
}

.middle-cont{
    width: 50%;
    max-width: 500px;
}

.contain-button-comand-bar{
    overflow: hidden;
    justify-content: center;
}

.contain-button-comand-bar svg{
    width: 2rem;
    padding: calc(var(--space) / 2);
}

.contain-button-comand-bar>:nth-child(3){
    padding: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}

.progress-bar-cont{
    padding-top: 5px;
}

.progress-bar-body{
    height: 50%;
    border: 1px solid #5d5d5d;
    border-radius: 20px;
}

.progress-bar{
    height: 100%;
    background-color: #ffff;
    width: 30%;
    border-radius: 20px;
}

.right-cont{
    width: 20%;
    min-width: 200px;
}

.container-vol-bar{
    padding-top: 5px;
}

.vol-bar-body{
    height: 50%;
    border: 1px solid #5d5d5d;
    border-radius: 20px;
}

.vol-bar{
    height: 100%;
    background-color: #ffff;
    width: 30%;
    border-radius: 20px;
}



/********************************
/////////// VARIABLE ////////////
********************************/
:root{
    --font-size-default: 1rem;
    --gap: 1rem;
    --space: 1rem;
}
/********************************
//////// LAYOUT CLASS ///////////
********************************/
.row{
    flex-grow: 0;
    max-width: 100%;
    display: flex;
    gap: calc(var(--gap)/2);
}

.half-row{
    max-height: 50%;
}

.col{
    flex-basis: 0;
}

.col-6{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis:calc((100% / 6) - 1rem);
}



/********************************
//////// UTILITY CLASS //////////
********************************/


.display-flex{
    display: flex;
}

.display-flex-column{
    display: flex;
    flex-direction: column;
}

.flex-grow{
    flex-grow: 1;
}

.flex-shrink{
    flex-shrink: 0;
}

.default-padding{
    padding: var(--space);
}

.default-padding-top-bot{
    padding-top: var(--space);
    padding-bottom: var(--space);
}

.default-padding-left-right{
    padding-left: var(--space);
    padding-right: var(--space);
}

.half-default-padding{
    padding: calc(var(--space) / 2 );
}


.display-inline-block{
    display: inline-block;
}

.text-color-white{
    color: #ffff;
}

.align-items-center{
    align-items: center;
}

.over-flow-auto{
    overflow: auto;
}

.over-flow-hidden{
    overflow: hidden;
}

.default-d-none{
    display: none;
}






































/*********************************
//////// SOLO PER DEBUG //////////
*********************************/
/* .container-app{
    width: 1100px;
} */
.nav-bar{
    background-color: black;
}

.middle{
    background-color:#141922;
    overflow: auto;
}

/* .default-padding{
    background-color: antiquewhite;
} */
.comand-bar{
    background-color: #282828;
}











